/* VARIABLES */


:root {
    --color-black: #1a1d24;
    --color-secondary: #cf2e2e;
    --color-action: rgb(248, 179, 80);
    --color-gray-2:#f2f2f2;
    --color-gray-1: rgb(168, 168, 168);
    --color-gray-3: #737373;
    --color-white: #ffffff;
    
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Condensed', sans-serif;
    --font-size-small: 13px;
    --font-size-medium: 20px;
    --font-size-x-large: 36px;
    --font-size-large: 42px;
    --font-weight-bold: 700;
    --font-weight-normal: 400;

    --spacing-20: .44rem;
    --spacing-30: .67rem;
    --spacing-40: 1rem;
    --spacing-50: 1.5rem;
    --spacing-60: 2.25rem;
    --spacing-70: 3.38rem;
    --spacing-80: 5.06rem;
  }


  h5 {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 1.688em; /* Responsive sizing with rems */
  }

  h3 {
    font-size: var(--font-size-x-large);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.3px;
    line-height: 2.2rem;
    text-transform: uppercase;
  }

  h4 {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    line-height: 13.74px;
    text-transform: uppercase;

  }


  p {
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    letter-spacing: -0.3px;
  }



/* HTML */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-black);
    font-family: "Roboto Condensed", sans-serif;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate; 
}

.layout-box {
    max-inline-size: 1170px;
    margin: auto;
}

/* HEADER */

.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 164px;

    .nav {

        ul {
            display: flex;
            align-items: center;
        }

        .separator {
            font-size: var(--font-primary);
            color: var(--color-gray-3);
        }

        ul.menu {
            display: flex;
            align-items: center;
            gap: 24px;
            color:var(--color-white);
        }

        .menu {
            .item {
                border-bottom: 1px solid transparent;
                margin-top: 14px;
                padding-bottom: 14px;
                font-size: var(--font-secondary);
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.75px;

            }

            



            .item:hover {
                cursor: pointer;
                border-bottom: 1px solid var(--color-secondary);
            }
        }
        
        ul.social {
            display: flex;
            align-items: center;
            gap: 14px;
            fill: var(--color-white);
        }
    }

    .tools {
        display: flex;
        align-items: center;
        gap: 40px;
        color: var(--color-white);

        .svg {
            fill: var(--color-white);
            width: 18px;
            height: 18px;
        }
    }
    
    
}


/* MAIN */

/* NEWS */

.news {
    display: flex;
    gap: 30px;
    position: relative;
}

.news .img {
    width: 865.797px;
    height: 609.250px;
    object-fit: cover;
}



.news .news_title {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 375.388px ;
    height: 190.416px;
    padding:33.600px ;
    position: absolute;
    top: 382px;
    left: 765px;
}

.news .news_title p {
    margin:  1.6rem 0 1.6rem 0;
    color: var(--color-gray-3);  
}

.news .news_title a {
    font-size: var(--font-size-base);
    margin:  1.6rem 0 1.6rem 0;
    color:var(--color-white);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--spacing-30);
}

.news .news_title a::after {
    content: url("./img/Iconos/flecha_roja.svg");
    margin-top: 3px;
}

.news .news_title a:hover {
 cursor: pointer;
 color: #e0011a;
}

.news .aside .title {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: var(--spacing-40);
}

.news .aside .title::after {
    content: "";
    height: 1px;
    width: var(--spacing-50);
    background-color: var(--color-secondary);

}

.news .aside .item {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 274.188px;
    height: 85px;
    gap: 20px;
    font-size: 15px;
    color: var(--color-white);
    margin-bottom: 24px;
    line-height: 1.2rem;

}

 .news .data .data-item {
    font-size: 12px;
    font-family: var(--color-secondary);
    color: var(--color-gray-1);
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;
}

.news .data .text-item {
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: 700;
}


/* CARUSEL */



.carousel {
    padding-top: 57px;
    
}

/* CARRUSEL MENU */

.carousel .nav .menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 26.078px;
    gap: 16px;
    padding-bottom: 40px;

}

.carousel .nav .menu .item {
    color:var(--color-white);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.carousel .separator {
    font-size: 14px;
    color: var(--color-gray-3);
}


/* CARRUSEL FOTO TEXTO */

.carousel {

    .carousel_item  {
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: 24px;        
    }

    .img {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%);
    }

    .carousel_item .items  {
        position: relative;
    }
    
    .data {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .data svg {
        position: absolute;
        fill: var(--color-white);
        bottom: 120px;
        left: 50%;
    }
    
    .carousel_item .img {
        width: 217.594px;
        height:298.344px;
        
    }

    .carousel_item h6 {
        color: var(--color-white);
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .carousel_item p {
        font-size: 14px;
        font-weight: 300;
        color:var(--color-gray-3);
    }
    /* BOTONES CARRUSEL */

    .slider {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    .button-slider {
        width: 8px;
        height: 8px;
        border-radius: 24px;
        background-color: var(--color-gray-3);
        margin-top: 36px;
    }

    .slider .active {
        background-color:var(--color-secondary);
    }

}


/* FRANJA GRIS */

.background-dark {
    position: relative;
}

.background-light {
    width: 100%;
    height: 374px;
    position: absolute;
    background-position: bottom;
    top: 950px;
    background-color: var(--color-gray-2);
    z-index: -1;
}



/* SAMURAI */

.samurai {
    margin-top:60px;
    height: 620px;
    background-color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.samurai .samurai_img{
    background-image: url("https://filmax.themerex.net/wp-content/uploads/2018/01/bg_samurai.jpg?id=458");
    width: 1265px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position:bottom;
    margin-bottom: -7px;
    margin-left: 0;
    
}

.samurai .items {
    display: flex;
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 700px;
    gap: 36px;
    padding: 36px;
    
}

.content {
    display: flex;
    justify-content: right;
}

/* SAMURAI TIPOS */


.samurai .separator {
    width: 48px;
    height: 1px;
    background-color: var(--color-secondary);
}


.samurai h5 {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    color: var(--color-gray-3);
    text-transform:uppercase;
}

.samurai .item-h5 {
    display: flex;
    gap: 20px;
}

.samurai h3 {
    font-size: 37px;
    font-weight: 700;
    font-style: normal;
    color:var(--color-black);
    text-transform: uppercase;
    
}

.samurai .items-h5-h3 {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.samurai h6 {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    color:var(--color-black);
    text-transform: uppercase;
}

.samurai .item-h6 {
    display: flex;
    gap: 20px;
    margin-top: 24px;
}



.samurai p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--color-gray-3);
    width: 535px;
    line-height: 1.1rem;
}

/* SAMURAI TIPOS  botones*/

.samurai .item-h5 .view-more {
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.samurai .item-h5 .view-more::before {
    content: url('./img/Iconos/flecha_roja.svg');
}

.samurai .item-h5 .play {
    color:var(--color-black);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.samurai .item-h5 .play::before {
    content:url('./img/Iconos/play.svg')
}

/* PORTFOLIO*/

.portfolio {

    display: flex;
    align-items:flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;

    .news {

        .img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit:scale-down;
        }

        .separator {
            height: 1px;
            width: var(--spacing-60);
            background-color: var(--color-action);
            margin-bottom: var(--spacing-60);
        }
        
        .news-items {
            position: absolute;
            bottom: 0;
            color: var(--color-white);
            padding: var(--spacing-60);
            display: flex;
            flex-direction: column;
        }
        
        .news-items .title {
            color: var(--color-white);
            margin-bottom: var(--spacing-50);
        }

        .small{
            font-size: 13px;
            margin-bottom: var(--spacing-50);
        }
        
        .button-more, .button-watch {
            font-size: 11px;
            font-weight: var(--font-weight-bold);
            margin-top: var(--spacing-30);
        }

        .transition {
            display: flex;
            flex-direction: column;
        }
    }
}


.testimonials {
    background-color: rgb(224, 1, 26);
    width: 100%;
    height: auto; 
    padding: 120px 0 120px 0;

    .items {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-white);
            width: 346px;

            p {
                font-family:serif;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                margin-bottom: var(--spacing-60);
            }

            h4 {
                margin-bottom: var(--spacing-30);
            }
             small {
                font-family: var(--font-primary);
                font-size: 12px ;
                font-weight: 400;
                opacity: 0.75;
                line-height: 15,6px;
             }
        }

        .img {
            background-size:cover;
            border-radius: 150px;
            background-position: center;
            height: 105px;
            width: 105px;
            background-repeat: no-repeat;
            margin-bottom: var(--spacing-60);
        }

        .img-1 {
            background-image: url("./img/1test-copyright-105x105.jpg");
        }
        .img-2 {
            background-image: url("./img/2test-copyright-105x105.jpg") ;
        }
        .img-3 {
            background-image: url("./img/3test-copyright-105x105.jpg");
        }
    }
    }



}

