
/* MAIN */

main {
    margin-top: 45px;  
  }
  
  
  /* NEWS */
  
  .news {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: start;
      gap: var(--spacing-60);
      padding-bottom: 160px;
  
      .news_info {
          position: relative;
          
          .img {
              width:814px ;
              height: 610px;
              object-fit: cover;
          }
  
          .info {
              width: 357px;
              height: 190px;
              padding: 28px 0 0 23px;
              color: var(--color-white);
              background-color: var(--color-black);
              position: absolute;
              bottom: 0;
              right: -260px;
          }
  
          span {
              text-transform: uppercase;
              font-size: var(--font-size-small);
              font-weight: var(--font-weight-bold);
              display: flex;
              align-items: center;
              gap: var(--spacing-30);
              letter-spacing: normal;
              font-weight: var(--font-weight-bold);
          }
  
          span::before {
              margin-top: 3px;
              content: url(../img/Iconos/flecha_roja.svg);
          }
          span:hover {
              color: var(--color-secondary);
              cursor: pointer;
          }
  
          h3 {
              margin-bottom: var(--spacing-50);
          }
          p {
              font-size: 14px;
              line-height: 23px;
              color: var(--color-gray-1);
              font-family: var(--font-primary);
              font-weight: var(--font-weight-normal);
              margin-bottom: var(--spacing-40);
          }
      }
  
      .aside {
  
          display: flex;
          flex-direction: column;
          gap: var(--spacing-60);
  
          h5 {
              color: var(--color-white);
          }
          .title {
              display: flex;
              align-items: center;
              gap: var(--spacing-30);
          }
          .title::after {
              content: "";
              height: 1px;
              width: 25px;
              background-color: var(--color-secondary);
          }
          .list {
              color: var(--color-white);
  
              .item {
                  display: flex;
                  align-items: start;
                  gap: var(--spacing-40);
              }
  
              .data {
                  h6 {
                      margin-bottom: var(--spacing-20);
                  }
                  span {
                      color: var(--color-gray-3);
                  }
              }
           
              
          }
      }
  }
  
  
 